@import "https://fonts.googleapis.com/css2?family=Poppins";

:root{
  --main-bg-color: #f6f9fc;

  /* regular colors */
  --blue: #555ac0;
  --violet: #9251ac;
  --red: #dc2626;
  --yellow: #f59e0b;
  --orange: #ea580c;
  --green: #24b47e;
  --pink: #db2777;
  --slate: #475569;

  /* light colors */
  --light-blue: #87bbfe;
  --light-violet: #f6a4ec;
  --light-red: #f38385;
  --light-yellow: #f3be16;
  --light-orange: #f5a27d;
  --light-green: #aff1b6;
  --light-pink: #de639a;
  --light-slate: #6f829f;

  /* regular colors */
  --dark-blue: #184096;
  --dark-violet: #532e62;
  --dark-red: #AB2328;
  --dark-yellow: #cc8107;
  --dark-orange: #9b3a08;
  --dark-green: #0e602c;
  --dark-pink: #981c53;
  --dark-slate: #2a333f;
}

html {
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

body {
  background: var(--main-bg-color);
  color: var(--slate);
}

h2 {
  margin: 5%;
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 5% 0 0 25%;
}

.timeline__element {
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 8px;
  flex-direction: column;
  /*box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);*/
}

.additional__img{
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.in__view .additional__img{
  opacity: 1;
  transform: translateX(0px);
}

.timeline__element__title {
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--violet);
  letter-spacing: 1.5px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.in__view .timeline__element__title{
  opacity: 1;
  transform: translateX(0);
}

.timeline__element__content{
  padding: 20px;
  margin: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.in__view .timeline__element__content{
  opacity: 1;
  transform: translateX(0px);
}

.fancy__text{
  font-size: 14px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.in__view .fancy__text{
  opacity: 1;
  transform: translateX(0px);
}

.special__text{
  font-weight: 600;
}

.timeline__element__image {
  color: var(--light-violet);
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  min-width: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded__right img{
  border-radius: 4px 4px 0 0;
}

.rounded__left img{
  border-radius: 0 0 4px 4px;
}

.timeline__element__image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0px;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: all .5s ease-in-out;
  transition-delay: 1s;
}

.in__view .timeline__element__image__container {
  opacity: 1;
  transform: translateX(0px);
}

.timeline__element__description {
  flex-basis: 60%;
}

.timeline__element__description p {
  font-size: 18px;
  font-weight: 600;
}

.timeline__element svg {
  position: absolute;
  width: 32px;
  aspect-ratio: 1;
  top: 40px;
  left: -65px;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  transition-delay: 0.5s;
}

.in__view svg{
  opacity: 1;
}

.line {
  content: "";
  width: 3px;
  height: 95%;
  position: absolute;
  top: 70px;
  border-radius: 25px;
  left: -3.5rem;
  z-index: -1;
  transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: 0 0;
  transition-delay: 1800ms;
  transform: scaleY(0);
}

.in__view .line{
  transform: scaleY(1);
}

.timeline__element__icon:before {
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-radius: 100%;
  left: -6rem;
  top: 40px;
  transform: translateY(-50%);
  background: var(--light-violet);
  filter: blur(27px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.4s;
}

.in__view .timeline__element__icon:before{
  opacity: 1;
}
.timeline__element--violet svg{
  color: var(--dark-violet);
}

.timeline__element--violet .special__text{
  color: var(--violet);
}

.timeline__element--violet .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--violet) 15%, var(--violet) 85%, rgba(255,255,255,1) 100%);
}

.timeline__element--blue svg{
  color: var(--dark-blue);
}

.timeline__element--blue .special__text{
  color: var(--dark-blue);
}

.timeline__element--blue .timeline__element__icon:before {
  background: var(--light-blue);
  border-color: var(--blue);
}

.timeline__element--blue .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--blue) 15%, var(--blue) 85%, rgba(255,255,255,1) 100%);
}

.timeline__element--blue .timeline__element__image {
  color: var(--light-blue);
}

.timeline__element--blue .timeline__element__image__container {
  background: var(--blue);
  color: var(--blue);
}

.timeline__element--blue .timeline__element__title {
  color: var(--blue);
}

.timeline__element--green svg{
  color: var(--dark-green);
}

.timeline__element--green .special__text{
  color: var(--green);
}

.timeline__element--green .timeline__element__icon:before {
  background: var(--light-green);
  border-color: var(--green);
}
.timeline__element--green .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--green) 15%, var(--green) 85%, rgba(255,255,255,1) 100%);
}
.timeline__element--green .timeline__element__image {
  color: var(--light-green);
}
.timeline__element--green .timeline__element__image__container {
  background: var(--green);
  color: var(--green);
}
.timeline__element--green .timeline__element__title {
  color: var(--green);
}


.timeline__element--red svg{
  color: var(--dark-red);
}

.timeline__element--red .special__text{
  color: var(--red);
}

.timeline__element--red .timeline__element__icon:before {
  background: var(--light-red);
  border-color: var(--red);
}
.timeline__element--red .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--red) 15%, var(--red) 85%, rgba(255,255,255,1) 100%);
}
.timeline__element--red .timeline__element__image {
  color: var(--light-red);
}
.timeline__element--red .timeline__element__image__container {
  background: var(--red);
  color: var(--red);
}
.timeline__element--red .timeline__element__title {
  color: var(--red);
}


.timeline__element--yellow svg{
  color: var(--dark-yellow);
}

.timeline__element--yellow .special__text{
  color: var(--yellow);
}

.timeline__element--yellow .timeline__element__icon:before {
  background: var(--light-yellow);
  border-color: var(--yellow);
}
.timeline__element--yellow .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--yellow) 15%, var(--yellow) 85%, rgba(255,255,255,1) 100%);
}
.timeline__element--yellow .timeline__element__image {
  color: var(--light-yellow);
}
.timeline__element--yellow .timeline__element__image__container {
  background: var(--yellow);
  color: var(--yellow);
}
.timeline__element--yellow .timeline__element__title {
  color: var(--yellow);
}


.timeline__element--orange svg{
  color: var(--dark-orange);
}

.timeline__element--orange .special__text{
  color: var(--orange);
}

.timeline__element--orange .timeline__element__icon:before {
  background: var(--light-orange);
  border-color: var(--orange);
}
.timeline__element--orange .line {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--orange) 15%, var(--orange) 85%, rgba(255,255,255,1) 100%);
}
.timeline__element--orange .timeline__element__image {
  color: var(--light-orange);
}
.timeline__element--orange .timeline__element__image__container {
  background: var(--orange);
  color: var(--orange);
}
.timeline__element--orange .timeline__element__title {
  color: var(--orange);
}

.timeline__element:last-child:after {
  content: none;
}

/*my styles*/

.w-6{
  width: 2rem;
}

.h-6{
  height: 2rem;
}

.services__catch__phrase{
  font-size: 38px;
  font-weight: 600;
  margin: 40px 10px 10px 10px;
}

.services__catch__phrase__description{
  text-align: center;
  margin: 0;
}

.d-flex{
  display: flex;
}

.sm-flex-column{
  flex-direction: column;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .services__catch__phrase{
    font-size: 72px;
  }
  .services__catch__phrase__description{
    font-size: 28px;
  }

  .timeline{
    width: 70vw;
    margin: 5% auto;
  }

  .timeline__element {
    flex-direction: row;
  }

  .timeline__element__title {
    font-size: 28px;
  }

  .timeline__element__description p {
    font-size: 24px;
  }

  .rounded__right{
    border-radius: 8px 0 0 8px;
  }

  .rounded__left{
    border-radius: 0 8px 8px 0;
  }

  .sm-flex-column{
    flex-direction: row;
  }

  .fancy__text{
    font-size: 16px;
  }

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .services__catch__phrase{
    font-size: 94px;
  }

  .services__catch__phrase__description{
    font-size: 32px;
  }

  .timeline__element__title {
    font-size: 32px;
  }

  .timeline__element__description p {
    font-size: 28px;
  }

  .fancy__text{
    font-size: 16px;
  }
}
